html{
    height: 100%;
}
body {
    display: grid;
    background-color: white;
    color: #27213C;
    min-height: 100%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas: 
    "header header header"
    "navbar content content"
    "footer footer footer";

    grid-gap: 5px;
}
button{
    color:white;
    border-radius: 8px;
    padding: 10px;
    border-width: 0px;
    margin: 10%;
    place-self: center;
}

#new-note, #save{
    background-color: #5d997c;
}
#new-note{
    grid-area: button1;
}
#change-theme{
    background-color: #696969;
    grid-area: button2;
}
#save{
    grid-area: button3;
}
#cancel{
    background-color: #d43b15;
    grid-area: button4;
}

header {
    background-color: #b1e5f2;
    text-align: center;
    grid-area: header;
}

aside {
    background-color: #CECECE;
    grid-area: navbar;
}
main {
    background-color: #A6A6A8;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas: 
    "button1 . . . button2"
    "input input input input input"
    " . button3 . button4 .";
}

#note_input{
    grid-area: input;
    place-self: center;
    width: 85%;
    height: 85%;
    border-radius: 12px;
    border-width: 0px;
    resize: none;
}

footer {
    background-color: #E8E9F3;
    text-align: center;
    grid-area: footer;
}
footer ul{
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: center
}