body {
    display: grid;
    background-color: white;
    color: #27213C;
    grid-template-areas: 
    "header header header"
    "navbar content content"
    "footer footer footer";
    gap: 1%;
}
button{
    color:white;
    position: relative;
    grid-area: "butttons";
}
#top-buttons{
    grid-area: top-buttons;
}
#bottom-buttons{
    grid-area: bot-buttons;
}

form {
    
}

header {
    background-color: #b1e5f2;
    text-align: center;
    grid-area: header;
}
aside {
    background-color: #CECECE;
    grid-area: navbar;
}
main {
    background-color: #A6A6A8;
    grid-area: content;
    grid-template-areas: 
    "top-buttons"
    "input"
    "bot-buttons";
}
#note_input{
    grid-area: input;
}

footer {
    background-color: #E8E9F3;
    text-align: center;
    grid-area: footer;
}
footer ul{
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: center
}